@font-face {
	font-family: "janna LT";
	src: local("janna LT") url(../fonts/janna.woff) format("woff");
	font-weight: normal;
}

@font-face {
	font-family: "janna LT";
	src: local("janna LT") url(../fonts/janna-bold.woff) format("woff");
	font-weight: bold;
}

$family-heading: "janna LT", "helvetica neue", "segoe ui", sans-serif;
$family-content: -apple-system, BlinkMacSystemFont, "helvetica neue",
	"geeza pro", "segoe ui", roboto, oxygen-sans, ubuntu, sans-serif;
