$indicators-size: 10px;
.c-actions {
	@include e-card;
	padding: 0 spacing("extra-small");
	width: 100%;
	list-style: none;
}
.c-action {
	display: flex;
	align-items: center;
	padding: calc(spacing("extra-small") / 2) spacing("extra-small");
	border-bottom: 1px solid rgba(darken($color-brand, 40%), 0.1);
	flex-wrap: wrap;
	&:last-child {
		border-bottom: none;
	}
}
.c-action__title {
	font-size: 14px;
	margin-left: auto;
	display: flex;
	align-items: center;
}
.c-action__title::before {
	content: "";
	display: block;
	width: $indicators-size;
	height: $indicators-size;
	border-radius: calc($indicators-size / 2);
	background-color: $color-brand;
	margin-left: spacing("extra-small");
}
.c-action__link {
	margin-bottom: calc(spacing("extra-small") / 2);
	margin-top: calc(spacing("extra-small") / 2);
}

.c-actions--oneline {
	.c-action {
		flex-wrap: nowrap;
	}
	.c-action__title {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		position: relative;
		padding-right: $indicators-size + spacing("extra-small");
		display: inline;
		&::before {
			position: absolute;
			right: 0;
			top: calc(50% - ($indicators-size / 2));
		}
	}
}
