.c-btn {
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	color: $color-content;
	text-align: center;
	padding: 8px 16px;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	background-color: $color-white;
	border: 1px solid darken($color-white, 15%);
	box-shadow: 0 1px 0 0 rgba(darken($color-primary, 30%), 0.05);

	&:hover {
		background-color: darken($color-white, 3%);
	}
	&:focus {
		outline: none;
		box-shadow: 0 1px 0 0 rgba(darken($color-primary, 30%), 0.05),
			0 0 0 2px $color-primary;
	}
}

.c-btn--primary {
	background-color: $color-primary;
	color: $color-white;
	border-color: darken($color-primary, 5%);
	&:hover {
		background-color: darken($color-primary, 5%);
	}
	&:focus {
		box-shadow: 0 0 0 2px darken($color-primary, 10%);
	}
}

.c-btn--destructive {
	background-color: $color-red;
	color: $color-white;
	border-color: darken($color-red, 5%);
	&:hover {
		background-color: darken($color-red, 5%);
	}
}

.c-btn--ghost {
	background-color: transparent;
	color: $color-content;
	border-color: $color-content;
	&:hover {
		background-color: transparent;
	}
}

.c-btn--slim {
	padding-top: 4px;
	padding-bottom: 4px;
}
