.c-form {
	display: flex;
	align-items: flex-start;
}
.c-form__row {
	margin-bottom: 15px;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	> * {
		flex: 0 1 auto;
		margin-left: spacing("small");
		margin-right: spacing("small");
	}
}
