.c-list {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: #fff;
	padding: spacing("extra-small") spacing("small");
	box-shadow: 0 0 0 1px rgba(#000, 0.05);
}

.c-list__media {
	height: 60px;
	width: auto;
	margin-left: spacing("small");
}

.c-list__data {
	flex-grow: 1;
	margin-left: spacing("small");
}

.c-list__actions {
	margin-right: auto;
	text-align: left;
	margin-left: spacing("small");
	opacity: 0;
	transition: opacity 0.3s ease;
}

.c-list:hover .c-list__actions {
	opacity: 1;
}
