.c-summary {
	@include e-card;
	display: inline-flex;
	align-items: center;
	padding: spacing("small") spacing("wide");
}
.c-summary__data {
	display: flex;
	flex-direction: column;
	margin-left: spacing("normal");
	&:last-child {
		margin-left: spacing("none");
	}
}
.c-summary__value {
	font-family: $family-heading;
	font-size: 28px;
	font-weight: bold;
	&--positive {
		color: $color-green;
	}
	&--negative {
		color: $color-red;
	}
}
.c-summary__key {
	font-weight: 600;
	text-align: center;
}
.c-summary--boxless {
	background: none;
	box-shadow: none;
	margin-bottom: 0;
}
.c-summary--small {
	.c-summary__key,
	.c-summary__value {
		font-size: 13px;
		font-weight: normal;
	}
}
