.c-tabs {
	@include e-card;
	width: 100%;
}
.c-tabs__control {
	display: flex;
}
.c-tabs__tab {
	text-align: center;
	padding: spacing() spacing("small");
	flex-grow: 1;
	cursor: pointer;
	border-bottom: 3px solid transparent;
}
.c-tabs__tab:hover {
	background-color: darken(#fff, 5%);
}
.c-tabs__tab.is-active {
	border-bottom-color: $color-primary;
}
.c-tabs__tabarea {
	display: none;
}
.c-tabs__tabarea.is-active {
	display: block;
}
