$space-unit: 16px;
$layout-sidebar: 277px;
$bp-phone-normal: 375px;
$bp-tablet-small: 690px;
$bp-tablet-normal: 768px;
$bp-sidebar: $bp-tablet-normal;
$bp-phone-large: 425px;
$bp-desktop-small: 1024px;
